<!DOCTYPE html>
<html>
    <head>
        <title>活动详情 - 志愿活动管理系统</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-icons.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <style>
            th {
                width: 50px;
            }
        </style>
    </head>
    <body>
        <navbar></navbar>
        <base-layout hideTitle="true" title="">
            <h1 class="placeholder-wave"><span class="placeholder col-5"></span>&emsp;</h1>
            <div class="table-responsive">
                <table class="table placeholder-wave"><tbody>
                    <tr v-for="item in ['people-fill', 'geo-alt-fill', 'clock-fill']">
                        <th scope="row"><i :class="'bi bi-' + item"></i></th>
                        <td><p class="placeholder col-12 mb-0"></p></td>
                    </tr>
                </tbody></table>
                <button class="btn btn-primary disabled placeholder-wave mb-3" type="button">
                    &emsp;&emsp;&emsp;&emsp;&emsp;
                </button>
            </div>
        </base-layout>
        
        <script src="//code.bdstatic.com/npm/leancloud-storage@4.12.0/dist/av-min.js"></script>
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/echarts.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/vue.global.prod.js"></script>
        <script src="js/components.js"></script>
        <script src="js/main.js"></script>
        <script src="js/time.js"></script>
        <script>
            if (AV.User.current()) {
                oid = $.getUrlParam("oid") ? $.getUrlParam("oid") : "";
                query = new AV.Query('Activity');
                query.get(oid).then(activity => {
                    $("title").text(activity.get("title") + " - 活动详情 - 志愿活动管理系统");
                    $("#body-container").before(`<h1>${activity.get("title")}</h1>`);
                    attributes = [
                        {
                            "icon": "people-fill",
                            "value": activity.get("participantsLimit")
                        }, {
                            "icon": "geo-alt-fill",
                            "value": campuses[activity.get("campus")] + ` <i class="bi bi-chevron-right"></i> ` + activity.get("site")
                        }, {
                            "icon": "clock-fill",
                            "value": `<div id="time-container" style="width: 480px; height:360px;"></div>`
                        }
                    ];
                    if (activity.get("desc")) {
                        attributes.push({
                            "icon": "chat-square-text-fill",
                            "value": activity.get("desc")
                        });
                    }
                    Vue.createApp({
                        data () {
                            return {
                                "isAdmin": AV.User.current().get("isAdmin"),
                                "attributes": attributes
                            };
                        },
                        template: `
                            <div class="table-responsive">
                                <table class="table" id="body-table"><tbody>
                                    <tr v-for="item in attributes">
                                        <th scope="row"><i :class="'bi bi-' + item.icon"></i></th>
                                        <td v-html="item.value"></td>
                                    </tr>
                                </tbody></table>
                            </div>
                            <div class="btn-group" role="group">
                                <a href="javascript: void()" class="btn btn-primary">
                                    <i class="bi bi-calendar-plus-fill"></i>
                                    加入意愿
                                </a>
                            </div>
                            <div v-if="isAdmin" class="btn-group ms-2" role="group">
                                <a href="edit.html?oid=${oid}" class="btn btn-secondary">
                                    <i class="bi bi-pen-fill"></i>
                                    编辑
                                </a>
                            </div>
                        `
                    }).mount("#body-container");
                    generateTimeChart("time-container", activity);
                }, error => {
                    $("#body-container").before(`<h1>活动详情</h1>`);
                    getError(error);
                });
            }
        </script>
    </body>
</html>