<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>编辑活动 - 志愿活动管理系统</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-icons.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <navbar></navbar>
        <base-layout title="创建活动">
            <template v-slot:default>
                <div v-for="item in [0,1,2,3]" class="mb-3">
                    <label class="placeholder-glow form-label col-4"><span class="placeholder">&emsp;&emsp;&emsp;&emsp;</span></label>
                    <input type="text" class="form-control" disabled>
                </div>
                <button class="btn btn-primary disabled">&emsp;&emsp;</button>
                <button type="button" class="btn btn-danger disabled ms-2">&emsp;&emsp;</button>
            </template>
            <template v-slot:addition>
                <div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="btn-delete" aria-hidden="true">
                    <div class="modal-dialog"><div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-delete-label">警告</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            该操作不可逆。您确定要删除吗？
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-danger" id="btn-delete">删除</button>
                        </div>
                    </div></div>
                </div>
            </template>
        </base-layout>

        <script src="//code.bdstatic.com/npm/leancloud-storage@4.12.0/dist/av-min.js"></script>
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/vue.global.prod.js"></script>
        <script src="js/components.js"></script>
        <script src="js/main.js"></script>
        <script>
            if (AV.User.current()) {
                if (AV.User.current().get("isAdmin")) {
                    template = `
                        <form novalidate autocomplete="off" @submit.stop.prevent="update()">
                            <div class="mb-3">
                                <label for="input-title" class="form-label">活动名称</label>
                                <input type="text" class="form-control" id="input-title" v-model="title" required>
                            </div>
                            <div class="mb-3" id="input-campus">
                                <label for="input-campus" class="form-label">所在校区</label>
                                <div v-for="(item, index) in campuses" class="form-check">
                                    <input class="form-check-input" type="radio" name="radius-campus"
                                        :id="'radius-campus-' + index" :value="index" v-model="campus">
                                    <label class="form-check-label" :for="'radius-campus-' + index">{{item}}</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="input-site" class="form-label">活动地点</label>
                                <input type="text" class="form-control" id="input-site" v-model="site" required>
                            </div>
                            <div class="mb-3">
                                <label for="input-participantsLimit" class="form-label">人数限制</label>
                                <input type="number" class="form-control" id="input-participantsLimit" v-model="participantsLimit" required>
                            </div>
                            <div class="mb-3">
                                <label for="input-desc" class="form-label">活动描述</label>
                                <textarea class="form-control" id="input-desc" rows="3" v-model="desc"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="input-time" class="form-label">活动时间</label>
                                <input type="text" class="form-control" id="input-time" aria-describedby="time-help" v-model="time" required>
                                <div id="time-help" class="form-text">以 JSON 格式输入一个数组。数组的每个元素是包含三个数字的数组 <code>[weekday, start, end]</code>。</div>
                            </div>
                            <button type="submit" class="btn btn-primary">{{mode}}</button>
                            <button type="button" class="btn btn-danger ms-2"
                                v-if="oid" data-bs-toggle="modal" data-bs-target="#modal-delete">删除</button>
                        </form>
                    `;
                    if ($.getUrlParam("oid")) {
                        $("h1").text("编辑活动");
                        oid = $.getUrlParam("oid");
                        query = new AV.Query('Activity');
                        query.get(oid).then(activity => {
                            Vue.createApp({
                                data () {
                                    return {
                                        "oid": oid,
                                        "campuses": campuses,
                                        "title": activity.get("title"),
                                        "campus": activity.get("campus"),
                                        "site": activity.get("site"),
                                        "participantsLimit": activity.get("participantsLimit"),
                                        "desc": activity.get("desc"),
                                        "time": JSON.stringify(activity.get("time")),
                                        "mode": "更新"
                                    }
                                },
                                methods: {
                                    update() {
                                        $("form").addClass('was-validated');
                                        if ($("form").get(0).checkValidity()) {
                                            const activity = AV.Object.createWithoutData('Activity', this.oid);
                                            activity.set("title", this.title);
                                            activity.set("campus", this.campus);
                                            activity.set("site", this.site);
                                            activity.set("participantsLimit", this.participantsLimit);
                                            activity.set("desc", this.desc);
                                            activity.set("time", $.parseJSON(this.time));
                                            activity.save().then(() => {
                                                alert("保存成功");
                                            }, error => {
                                                alert(error);
                                            });
                                        }
                                    }
                                },
                                template: template
                            }).mount("#body-container");
                        }, error => getError);
                    } else {
                        Vue.createApp({
                            data () {
                                return {
                                    "oid": false,
                                    "campuses": campuses,
                                    "title": "",
                                    "campus": "",
                                    "site": "",
                                    "participantsLimit": 20,
                                    "desc": "",
                                    "time": JSON.stringify([[0,600,720]]),
                                    "mode": "创建"
                                }
                            },
                            methods: {
                                update() {
                                    $("form").addClass('was-validated');
                                    if ($("form").get(0).checkValidity()) {
                                        const activity = new AV.Object("Activity");
                                        activity.set("title", this.title);
                                        activity.set("campus", this.campus);
                                        activity.set("site", this.site);
                                        activity.set("participantsLimit", this.participantsLimit);
                                        activity.set("desc", this.desc);
                                        activity.set("time", $.parseJSON(this.time));
                                        activity.save().then(() => {
                                            alert("创建成功");
                                        }, error => {
                                            alert(error);
                                        });
                                    }
                                }
                            },
                            template: template
                        }).mount("#body-container");
                    }
                    
                } else {
                    Vue.createApp({
                        template: `<alert type="secondary" message="只有管理员才能创建和编辑活动。"></alert>`
                    })
                    .component("alert", alerts)
                    .mount("#body-container");
                }
            }

            // Delete
            $("#modal-delete").on('shown.bs.modal', function () {
                $("btn-delete").focus();
            });
            $("#btn-delete").click(() => {
                const activity = AV.Object.createWithoutData('Activity', $.getUrlParam("oid"));
                activity.destroy().then(() => {
                    window.location.href = "index.html";
                }, error => {
                    alert(error);
                });
            });
        </script>
    </body>
</html>